.row {
    margin-top: 10px;
}

.row div {
  outline: 2px solid #ccc;
  min-height: 200px;
}

.row .col-sm:hover {
  cursor: pointer;
  background-color: lightgray;
  transition: all 0.5s;
}

.carousel {
  background-color: ghostwhite;
  margin-top: 10px;
}

img {
  width: 40%;
}

img:hover {
  cursor: pointer;
}
