<div class="container-fluid text-center">
  <div class="row">
    <div class="col-sm" routerLink='stageone'>
      <h1>Stage #1</h1>
      <button type="button" class="btn btn-primary" routerLink='stageone'>Stage 1</button>
    </div>
    <div class="col-sm" routerLink='stagetwo'>
      <h1>Stage #2</h1>
      <button type="button" class="btn btn-success" routerLink='stagetwo'>Stage 2</button>
    </div>
    <div class="col-sm" routerLink='stagethree'>
      <h1>Stage #3</h1>
      <button type="button" class="btn btn-warning" routerLink='stagethree'>Stage 3</button>
    </div>
  </div>
</div>
