<div class="container-fluid">
  <button class="btn btn-success applychanges" (click)="applyChanges()">Apply Changes</button>
  <div class="container wrapper">
    <full-calendar #myCalendar defaultView="dayGridMonth" (dateClick)="handleDateClick($event)" [editable]="true"
      [aspectRatio]="2.15" (select)="selectDates($event)" [selectable]="true" [eventLimit]="3"
      (eventResize)="eventResize($event)" (eventDrop)="eventDragged($event)" (eventClick)="eventClicked($event)"
      [plugins]="calendarPlugins" [events]="calendarEvents" [header]="{ left: 'prevYear,prev,next,nextYear today',
                                    center: 'title',
                                    right: ' dayGridMonth,timeGridWeek,timeGridDay'}">
    </full-calendar>
  </div>
</div>

<!-- Modal -->
<div #dt class="modal fade" id="staticBackdrop" data-backdrop="static" tabindex="-1" role="dialog"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Add an Event!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="modal-body">
          <div class="row">
            <div class="col">
              <h4>Title</h4>
              <input type="text" id="confId" class="form-control input-md" placeholder="Title" formControlName="title">
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="ui-g-12 ui-md-12">
                <h4>From</h4>
                <p-calendar [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2030"
                  placeholder="dd/mm/yyyy" formControlName="fromDate" [showTime]="true" dateFormat="dd/mm/yy"
                  name="something">
                </p-calendar>
              </div>
            </div>
            <div class="col">
              <div class="ui-g-12 ui-md-12">
                <h4>To</h4>
                <p-calendar [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2030"
                  placeholder="dd/mm/yyyy" formControlName="toDate" [showTime]="true" dateFormat="dd/mm/yy"
                  name="something">
                </p-calendar>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary" [disabled]="form.invalid">Submit</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </form>
    </div>
  </div>
</div>
