<div class="container-fluid">
  <!-- <a routerLink="">Back</a> -->
  <div class="container wrapper">
    <full-calendar defaultView="dayGridMonth" 
                  [plugins]="calendarPlugins"
                  [aspectRatio]="2.2"
                  [navLinks]="true"
                  [header]="{ left: 'prevYear,prev,next,nextYear today',
                              center: 'title',
                              right: ' dayGridMonth,timeGridWeek,timeGridDay'}">
    </full-calendar>
  </div>
</div>
